html, body {
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

a {
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
}

.all {
	padding: 0 151;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	/*outline: 1px solid green;*/

}

/*Header*/

.header {
	height: 100vh;
	background-color: #eff0f2;
}

.logo {
	display: inline-block;
}

.logo img {
	margin-top: 64px;
}

.logo:hover img {
	filter: grayscale(100%);
	transition: 0.5s;
}


/*....................................*/

.menu {
	position: absolute;
	right: 0px;
	top: 65px;
	cursor: pointer;
}

ul {
	display: block;
	margin-left: 0;
	position: 0;
	list-style: none;
}

ul:after {
    display: block;
    content: ' ';
}

ul.menu {
	margin-left: 0;
	padding-left: 0;
}

ul.menu > li {
    position: relative;
}

ul.menu > li > a {
    display: block;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    top: 0px;
    left: 32px;
    background-color: #F0F0F0;
    border: 1px solid #C4C4C4;
    padding: 2px;
    margin-left: 0;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #A6A6A6;
    background-color: #DEDFE1;
    text-decoration: none;
    width: 160px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
}

ul.submenu > li > a:hover {
    transition: 0.2s;
    background-color: #9ADFDA;
    color: #505050;
    padding: 11px;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/*------------------------------------------------------*/

.header_title {
	text-align: center;
	text-transform: uppercase;
	font-size: 43px;
	font-weight: 700;
	margin-top: 216px;
	color: #505050;
	letter-spacing: 2.7px;
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}

.header_title span {
	direction: inline-block;
	background: rgba(118, 244, 234, 0.6);
	line-height: 55px;
	padding: 0 5px;
}

.hedear_btn {
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}

.hedear_btn a {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.16px;
	color: rgba(0, 0, 0, 0.6);
	padding: 15px 42px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	cursor: pointer;
}


.hedear_btn a:hover {
	background: #A2EBE7;
	color: #505050;
	border: none;
	box-shadow: 1px 1px 3px rgba(81, 81, 81, 0.8);
	transition: all 0.3s;
}

.hedear_btn a:active {
	color:#C1C1C1;
}

.header_juice {
	position: absolute;
	top: 600px;
	right: 8%;
}

.header_juice:hover {
	transform: rotate(3deg);
	transition: 0.5s;
}

/*About us*/

.about {
	background-color: #f8fafa;
	height: 100vh;
}

.title {
	text-align: center;
	opacity: 0.9;
	color: #000000;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.28px;
	margin-top: 129px;
}

.title_description {
	text-align: center;
	opacity: 0.62;
	color: #000000;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.08px;
	margin-top: 17px;
}

.about {
	height: 985px;
}

.about_img {
	display: inline-block;
	width: 479px;
	height: 483px;
	/*margin-top: 147px;*/
	margin-left: 22px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
}

.about-img__slider1 {
	display: block;
	margin: 0 auto;
}

.about_img:before {
	content: "";
	position: absolute;
	margin-top: 35px;
	width: 479px;
	height: 412px;
	background-color: #eff0f2;
	z-index: -1;
}

/*Slider's buttons*/

.button__gallery__about {
	position: absolute;
	bottom: -50px;
	left: 172px;
}

[type="radio"] {
	display: none;
}

.button__gallery__about label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background-color: #d0d0d0;
}

[type="radio"]:checked+label {
	border-radius: 3px;
	background-color: #71f6eb;
	transition: all 0.3s ease;
	transition: 0.2s;
}


/*Text right*/

.about__text {
	max-width: 454px;
	max-height: 343px;
	display: inline-block;
	vertical-align: top;
	margin-left: 113px;
	position: relative;
}

.about__text__title {
	text-transform: uppercase;
	color: #000000;
	opacity: 0.75;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 800;
	line-height: 25px;
	letter-spacing: 1.2px;
}

.about__text__info {
	color: #000000;
	opacity: 0.74;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin-top: 31px;
}

.about__text__title__second {
	color: #000000;
	opacity: 0.75;
	font-family: Merriweather;
	font-size: 17px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 1.02px;
	margin-top: 38px;
}
.about__text__info__second {
	color: #000000;
	opacity: 0.74;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin-top: 31px;
}

.about_wrap {
	display: inline-block;
	vertical-align: middle;
	margin-top: 147px;
}

/*Featured*/

.featured_photo {
	text-align: center;
	margin-top: 155px;
	padding-bottom: 125px;

}

.featured_photo img {
	min-width: calc((100% - 30px) / 3);
	margin-left: 10px;
}


.featured_photo img:nth-child(1),
.featured_photo img:nth-child(4) {
	margin-left: 0;
}

.featured_photo img:nth-child(4),
.featured_photo img:nth-child(5),
.featured_photo img:nth-child(6) {
	margin-top: 10px;
}

/*Our services*/

.services {
	padding-bottom: 124px;
}

.services__items {
	padding-top: 123px;
}

/*Third item*/

.services__items__third  {
	position: relative;
	min-width: calc((100% - 15px) * 0.58);
	background-color: #6df6eb;
	height: 371px;
	margin-top: 15px;
	display: inline-block;
}

.services__items__third img {
	width: 100%;
	height: 100%;
}

.services__items__third:hover img {
	opacity: 0;
	background-color: #6df6eb;
	transition: 0.4s;
}

.services__items__third:hover .services__items__text_third {
	opacity: 1;
	transition: 0.4s;
}

.services__items__third span a:hover {
	opacity: 0.95;
	color: #000000;
}

.services__items__text_third {
	position: absolute;
	top: 141px;
	left: 66px;
	max-width: 75%;
	opacity: 0;
}

.services__items__text_third h3 {
	margin-bottom: 28px;
	opacity: 0.83;
	color: #000000;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.services__items__text_third p {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.4px;
}

.services__items__text_third span {
	display: block;
	margin-top: 21px;
}
.services__items__text_third span a {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 85px;
	text-transform: uppercase;
	letter-spacing: 0.72px;
}

/*Forth item*/

.services__items__forth {
	position: relative;
	/*width: calc((100% - 0px) * 0.42);*/
	max-width: calc(100% * 0.41);
	background-color: #6df6eb;
	display: inline-block;
	height: 371px;
	margin-top: 15px;
	margin-left: 15px;
}

.services__items__text_forth {
	position: absolute;
	top: 141px;
	left: 66px;
	max-width: 70%;
	opacity: 0;
}

.services__items__text_forth h3{
	margin-bottom: 28px;
	opacity: 0.83;
	color: #000000;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}


.services__items__text_forth p {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.4px;
}

.services__items__text_forth span {
	display: block;
	margin-top: 21px;
}


.services__items__text_forth span a {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 85px;
	text-transform: uppercase;
	letter-spacing: 0.72px;
}
.services__items__forth img {
	width: 100%;
	height: 100%;
}


.services__items__forth:hover img {
	opacity: 0;
	background-color: #6df6eb;
	transition: 0.4s;
}

.services__items__forth:hover .services__items__text_forth {
	transition: 0.4s;
	opacity: 1;
}

.services__items__forth span a:hover {
	opacity: 0.95;
	color: #000000;
}

/*Fifth item*/

.services__items__forth__fifth {
	margin-left: 0;
}

/*Sixth item*/

.services__items__third__sixth {
	margin-left: 15px;
}

/*First item*/

.services__items__newfirst {
	height: 422px;
}

.services__items__text_newfirst{
	top: 50px;
}

.services__items__text_newfirst span {
	margin-top: 30px;
}

/*Second item*/

.services__items__newsecond {
	height: 422px;
}

/*Team*/

.team__photo {
	padding-bottom: 118px;
}

.team__photo > div {
	display:inline-block;
	width: calc((100% - 17px) / 3);
	margin-left: 4px;
}

.team__photo div:nth-child(1),
.team__photo div:nth-child(4) {
	margin-left: 0;
}

.team__photo div:nth-child(4),
.team__photo div:nth-child(5),
.team__photo div:nth-child(6) {
	margin-top: 7px;
}

/*Team__photo__first*/


.team__photo__first {
	position: relative;
	margin-top: 123px;
}

.team__photo__first:hover .team__photo__comment {
	opacity: 1;
	transition: 0.5s;
}
.team__photo__comment {
	width: 335px;
	height: 241px;
	box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
	background-color: #6df6eb;
	opacity: 0.98;
	position: absolute;
	top: 184px;
	left: 15px;
	opacity: 0;
}

.team__photo__comment h4 {
	margin-top: 43px;
	margin-left: 38px;
	color: #272727;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;

}

.team__photo__comment h4 span {
	opacity: 0.95;
	color: #767070;
	font-family: Merriweather;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.team__photo__comment p {
	margin-top: 23px;
	margin-left: 38px;
	max-width: 240px;
	max-height: 65px;
	opacity: 0.8;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.16px;
}

.team__photo__comment:after {
	content: "";
	position: absolute;
	border: 10px solid transparent;
	border-bottom: 18px solid #6df6eb;
	top: -27px;
	left: 22px;
}

/*What they says*/

.says {
	padding-bottom: 100px;
}


.says__content {
	padding-top: 161px;
	padding-bottom: 222px;
}
.says__content__gallery {
	display: inline-block;
	min-width: calc((100% - 42px) * 0.36);
	height: 362px;
	vertical-align: middle;
	margin-right: 81px;
	background-color: grey;
	border-radius: 3px;
	background-color: #ecedef;
	position: relative;
}

.says__content__gallery img {
	position: absolute;
	top: -24px;
	left: 37px;
}



.says__content__text {
	display: inline-block;
	width: calc((100% - 42px) * 0.6);
	vertical-align: middle;
	border-radius: 3px;
	background: #eaebed;
	text-align: center;
	position: relative;
}

.says__content__text h4 {
	padding-top: 101px;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
	font-family: Merriweather;
}

.says__content__text h4 span {
	opacity: 0.95;
	color: #787878;
	font-family: Merriweather;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	line-height: 28px;
	text-transform: uppercase;
}

.says__content__text p {
	padding-left: 86px;
	padding-right: 81px;
	padding-top: 30px;
	opacity: 0.7;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.56px;
}


/*Stars*/
.stars {
	display: block;
	padding-top: 29px;
	padding-bottom: 37px;
}

/*Next - Previous*/

.switch {
	position: absolute;
	bottom: -90px;
	right: 0;
}



.switch a:first-child {
	display: inline-block;
	width: 53px;
	height: 53px;
	margin-right: 20px;
	box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
	border-radius: 3px;
	background-color: #71f6eb;
	background: url(../img/team/switch-2.png) no-repeat center;
}

.switch a:last-child {
	display: inline-block;
	width: 53px;
	height: 53px;
	box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
	border-radius: 3px;
	background-color: #71f6eb;
	background: url(../img/team/switch-1.png) no-repeat center;
}

.switch a:hover {
	background-color: #71f6eb;
	transition: 0.4s;
}

/*Switch photo gallery*/

.button__gallery {
	position: absolute;
	bottom: -80px;
	left: 172px;
}

[type="radio"] {
	display: none;
}

.button__gallery label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background-color: #d0d0d0;
}

[type="radio"]:checked+label {
	border-radius: 3px;
	background-color: #71f6eb;
	transition: all 0.3s ease;
	transition: 0.2s;
}

/*Contacts*/

.contacts {
	background: url(../img/contacts/99999.jpg) no-repeat center;
	height: 800px;
	opacity: 0.8;
	background-size: cover;

	position: relative;
}

.brighten {

	height: 800px;
	width: 100%;
	background-color: #f8fafb;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/*-------------------------------------------------------------------*/

.contacts__block {
	padding-top: 211px;
}

.contacts__form {
	/*box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);*/
	background-color: #021623;
	opacity: .85;
	display: inline-block;
	min-width: calc((100% - 49px)* 0.56);
	vertical-align: middle;
	padding-left: 31px;
	padding-right: 25px;
}

.form_name {
	opacity: 0.7;
	color: white;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 45px;

}

.inform input {
	background-color: #021623;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
	width: 510px;
	color: white;
}
.inform input:focus, textarea:focus {
	outline: none;
}


.inform textarea {
	background-color: #021623;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
	color: white;
	resize: none;
}

.inform button {
	color: #000000;
	font-family: Montserrat;
	font-size: 17px;
	font-weight: 600;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1.16px;
	padding: 13px 16px;
	background-color: #6eeee4;
	border-radius: 2px;
	border: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

.contacts_bnt:focus {
	outline: none;
}

.contacts_bnt:hover {
	opacity: .85;
	transition: all 0.2s;
	cursor: pointer;
}

/*Form__Address*/

.contacts__addres:not(.maps) {
	box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
	background-color: #021623;
	vertical-align: middle;
	display: inline-block;
	width: calc((100% - 12px)* 0.45);
	margin-left: 17px;
	color: rgba(255, 255, 255, 0.78);
	opacity: .85;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 20px;
	padding-top: 37px;
}

.contacts__addres a:not(.map), address {
	padding-left: 20px;
}

.contacts__addres a {
	width: 213px;
	height: 159px;
	opacity: 0.7;
	color: #ffffff;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.maps {
	padding-bottom: 10px;
	padding-top: 21px;
	opacity: 1;
}

/*Footer*/

.footer {
	background-color: #262b2e;
}

.footer__title {
 	padding-left: 120px;
 	padding-bottom: 19px;
	opacity: 0.7;
	color: #ffffff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.16px;
}

.footer__social {
	padding-left: 59px;
	padding-bottom: 43px;
}

.footer__social a {
	color: #faf4f4;
	font-family: "Font Awesome";
	font-size: 21px;
	font-weight: 400;
	line-height: 49.41px;
	letter-spacing: 0.2px;
	display: inline-block;
	width: 46px;
	height: 42px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(138, 138, 138, 0.58);
	margin-left: 4px;
}

.fa-pinterest-p,
.fa-twitter,
.fa-facebook-f,
.fa-dribbble {
	color: #fff;
	opacity: 0.7;
}

.footer__social a:hover {
	background-color: #71f6eb;
	transition: 0.4s;
}

.footer__social a:hover i {
	color: #000;
	transition: 0.4s;
}

.copyright {
	margin: 0 auto;
	opacity: 0.4;
	color: #ffffff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.16px;
}

.footer__wrap {
	padding-top: 53px;
	padding-bottom: 40px;
	width: 400px;
	margin: 0 auto;
}

/* CONTACTS Soc_button_team*/


.face,
.twitt,
.dribble,
.envp {
	color: black;
	opacity: 0.7;
	font-size: 13px;
	font-weight: 400;
	line-height: 21.57px;
}

.social_btn {
	display: block;
	margin-left: 38px;
	margin-top: 30px;
}

.social_btn a:not(.social_btn_first) {
	margin-left: 15px;
}

.social_btn a .face:hover,
.social_btn a .twitt:hover,
.social_btn a .dribble:hover,
.social_btn a .envp:hover {
	color: #00A6FF;
	transition: 0.2s;
}

/*Contacts*/

.partners__first {
	text-align: center;
}

.partners__first img:not(.first__line__img) {

	margin-top: 25px;

}

.partners__first img:not(.second__line__img) {
	width: 10%;
	margin-left: 69px;
	
}

.partners__first img {
	width: 10%; 	
	opacity: 0.3;
	filter: grayscale(100%);
}

.partners__first img:hover {
	opacity: 1;
 	filter: grayscale(0);
 	transition: 0.3s;
 	width: 10.5%;
}