html, body {
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

a {
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
}

.all {
	padding: 0 151;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	/*outline: 1px solid green;*/

}

/*Header*/

.header {
	height: 100vh;
	background-color: #eff0f2;
}

.logo {
	display: inline-block;
}

.logo img {
	margin-top: 64px;
}

.logo:hover img {
	filter: grayscale(100%);
	transition: 0.5s;
}

.hamburger {
	width: 40px;
	position: absolute;
	right: 0;
	top: 15%;
	cursor: pointer;
}

.hamburger span {
	
	background: rgba(0, 0, 0, 0.6);
	display: block;
	height: 3px;
	margin-bottom: 5px;
	float: right;
	width: 100%;
}

.hamburger span:nth-child(2) {
	width: 75%;
}

.hamburger span:nth-child(3) {
	width: 55%;
}

.hamburger:hover span {
	float: left;
}

.header_title {
	text-align: center;
	text-transform: uppercase;
	font-size: 43px;
	font-weight: 700;
	margin-top: 216px;
	color: #505050;
	letter-spacing: 2.7px;
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}

.header_title span {
	direction: inline-block;
	background: rgba(118, 244, 234, 0.6);
	line-height: 55px;
	padding: 0 5px;
}

.hedear_btn {
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}

.hedear_btn a {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.16px;
	color: rgba(0, 0, 0, 0.6);
	padding: 15px 42px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	cursor: pointer;
}


.hedear_btn a:hover {
	background: #C8C8CA;
	color: #fff;
	box-shadow: 1px 1px 3px rgba(81, 81, 81, 0.8);
	transition: 0.3s;
}

.hedear_btn a:active {
	color:#C1C1C1;
}

.header_juice {
	position: absolute;
	top: 600px;
	right: 8%;
}

.header_juice:hover {
	filter: blur(1.5px);
	transition: blur 0.8s;
}

/*About us*/

.about {
	background-color: #f8fafa;
	height: 100vh;
}

.title {
	text-align: center;
	opacity: 0.9;
	color: #000000;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.28px;
	margin-top: 129px;
}

.title_description {
	text-align: center;
	opacity: 0.62;
	color: #000000;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.08px;
	margin-top: 17px;
}

.about {
	height: 985px;
}

.about_img {
	display: inline-block;
	width: 479px;
	height: 483px;
	/*margin-top: 147px;*/
	margin-left: 22px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
}

.about-img__slider1 {
	display: block;
	margin: 0 auto;
}

.about_img:before {
	content: "";
	position: absolute;
	margin-top: 35px;
	width: 479px;
	height: 412px;
	background-color: #eff0f2;
	z-index: -1;
}

/*Slider's buttons*/

.about__slider__btn {
	text-align: center;
	margin-top: 36px;
}

.about__slider__btn span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background-color: #d0d0d0;
}

.about__slider__btn span:nth-child(2) {
	background-color: #71f6eb;
}

/*Text right*/

.about__text {
	max-width: 454px;
	max-height: 343px;
	display: inline-block;
	vertical-align: top;
	margin-left: 113px;
	position: relative;
}

.about__text__title {
	text-transform: uppercase;
	color: #000000;
	opacity: 0.75;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 800;
	line-height: 25px;
	letter-spacing: 1.2px;
}

.about__text__info {
	color: #000000;
	opacity: 0.74;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin-top: 31px;
}

.about__text__title__second {
	color: #000000;
	opacity: 0.75;
	font-family: Merriweather;
	font-size: 17px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 1.02px;
	margin-top: 38px;
}
.about__text__info__second {
	color: #000000;
	opacity: 0.74;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.8px;
	margin-top: 31px;
}

.about_wrap {
	display: inline-block;
	vertical-align: middle;
	margin-top: 147px;
}

/*Featured*/

.featured_photo {
	text-align: center;
	margin-top: 155px;
	padding-bottom: 125px;

}

.featured_photo img {
	min-width: calc((100% - 30px) / 3);
	margin-left: 10px;
}


.featured_photo img:nth-child(1),
.featured_photo img:nth-child(4) {
	margin-left: 0;
}

.featured_photo img:nth-child(4),
.featured_photo img:nth-child(5),
.featured_photo img:nth-child(6) {
	margin-top: 10px;
}

/*Our services*/

.services {
	padding-bottom: 124px;
}

.services__items {
	padding-top: 123px;
}

/*Third item*/

.services__items__third  {
	position: relative;
	min-width: calc((100% - 15px) * 0.58);
	background-color: #6df6eb;
	height: 371px;
	margin-top: 15px;
	display: inline-block;
}

.services__items__third img {
	width: 100%;
	height: 100%;
}

.services__items__third:hover img {
	opacity: 0;
	background-color: #6df6eb;
	transition: 0.4s;
}

.services__items__third:hover .services__items__text_third {
	opacity: 1;
	transition: 0.4s;
}

.services__items__third span a:hover {
	opacity: 0.95;
	color: #000000;
}

.services__items__text_third {
	position: absolute;
	top: 141px;
	left: 66px;
	max-width: 75%;
	opacity: 0;
}

.services__items__text_third h3 {
	margin-bottom: 28px;
	opacity: 0.83;
	color: #000000;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.services__items__text_third p {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.4px;
}

.services__items__text_third span {
	display: block;
	margin-top: 21px;
}
.services__items__text_third span a {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 85px;
	text-transform: uppercase;
	letter-spacing: 0.72px;
}

/*Forth item*/

.services__items__forth {
	position: relative;
	/*width: calc((100% - 0px) * 0.42);*/
	max-width: calc(100% * 0.41);
	background-color: #6df6eb;
	display: inline-block;
	height: 371px;
	margin-top: 15px;
	margin-left: 15px;
}

.services__items__text_forth {
	position: absolute;
	top: 141px;
	left: 66px;
	max-width: 70%;
	opacity: 0;
}

.services__items__text_forth h3{
	margin-bottom: 28px;
	opacity: 0.83;
	color: #000000;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}


.services__items__text_forth p {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.4px;
}

.services__items__text_forth span {
	display: block;
	margin-top: 21px;
}


.services__items__text_forth span a {
	opacity: 0.75;
	color: #000000;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 85px;
	text-transform: uppercase;
	letter-spacing: 0.72px;
}
.services__items__forth img {
	width: 100%;
	height: 100%;
}


.services__items__forth:hover img {
	opacity: 0;
	background-color: #6df6eb;
	transition: 0.4s;
}

.services__items__forth:hover .services__items__text_forth {
	transition: 0.4s;
	opacity: 1;
}

.services__items__forth span a:hover {
	opacity: 0.95;
	color: #000000;
}

/*Fifth item*/

.services__items__forth__fifth {
	margin-left: 0;
}

/*Sixth item*/

.services__items__third__sixth {
	margin-left: 15px;
}

/*First item*/

.services__items__newfirst {
	height: 422px;
}

.services__items__text_newfirst{
	top: 50px;
}

.services__items__text_newfirst span {
	margin-top: 30px;
}

/*Second item*/

.services__items__newsecond {
	height: 422px;
}

/*Team*/

.team__photo {
	padding-bottom: 118px;
}

.team__photo > div {
	display:inline-block;
	width: calc((100% - 17px) / 3);
	margin-left: 4px;
}

.team__photo div:nth-child(1),
.team__photo div:nth-child(4) {
	margin-left: 0;
}

.team__photo div:nth-child(4),
.team__photo div:nth-child(5),
.team__photo div:nth-child(6) {
	margin-top: 7px;
}

/*Team__photo__first*/


.team__photo__first {
	position: relative;
	margin-top: 123px;
}

.team__photo__first:hover .team__photo__comment {
	opacity: 1;
	transition: 0.5s;
}
.team__photo__comment {
	width: 335px;
	height: 241px;
	box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
	background-color: #6df6eb;
	opacity: 0.98;
	position: absolute;
	top: 184px;
	left: 15px;
	opacity: 0;
}

.team__photo__comment h4 {
	margin-top: 43px;
	margin-left: 38px;
	color: #272727;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;

}

.team__photo__comment h4 span {
	opacity: 0.95;
	color: #767070;
	font-family: Merriweather;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.team__photo__comment p {
	margin-top: 23px;
	margin-left: 38px;
	max-width: 240px;
	max-height: 65px;
	opacity: 0.8;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.16px;
}

.team__photo__comment:after {
	content: "";
	position: absolute;
	border: 10px solid transparent;
	border-bottom: 18px solid #6df6eb;
	top: -27px;
	left: 22px;
}

.social_btn {
	display: block;
	margin-left: 38px;
	margin-top: 30px;
}

.social_btn a:not(.social_btn_first) {
	margin-left: 15px;
}

.social_btn a {
	opacity: 0.7;
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 21.57px;
}

.social_btn a:hover {
	color: #00A6FF;
	transition: 0.2s;
}